<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRamBBcgb5RJ32-PwBl96dKBudV7AfbWs</string>
	<key>GCM_SENDER_ID</key>
	<string>623026095770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.azimgunes.TikTok-Clone</string>
	<key>PROJECT_ID</key>
	<string>tiktok-clone-12238</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-clone-12238.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623026095770:ios:98c5b75456ab657543c123</string>
</dict>
</plist>